
body{
    color: blueviolet;
    margin: 0;
    height: 100%;
    text-align: center;
    width: 100%;

}


h1{
    font-size: 1s0px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(red, green, blue, alpha)

}

p {
    color: brown;
}

.her {
    color: beige;
    margin: 0;
    text-align: center;
    width: 100%; 
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    
}

 #navigation {
  background-color: lemon;
  padding: 50px;
  margin: 50px;
  /* position: fixed; */
  top: 0;
  left: 0;
  

}
#navigation ul:first-child {

}

#header {
 border: 5px;
  solid lemon;
 padding:50 px;
 background-color: papayawhip;
 margin: 50px;
 gird-area: header;
}

#content {
    border: 5px dotted  aqua;
    padding: 50px;
    background-color: yellow;
    margin: 50px;
    gird-area: content;
}

#footer {
    border: 5px saddlebrown solid;
    padding: 50px;
    background-color: hotpink;
    margin: 50px; 
    color: blue
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

li {
    display: inline;

}

}
#navigation > ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    grid-area: navigation;

}

#content img {
    width: 220px;
    grid-area: footer;
}
img {
    width: 10%;
}
#navigation > ul {
    flex-direction: : column;
}
